@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,600&display=swap);

.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #ebeef2;
}
.comments{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.comment{
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Source Sans Pro";
    line-height: 1.5;
}
.comment-head{
    height: 50px;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #ebeef2;
    .comment-name{
        flex-grow: 1;        
    }
}
.comment-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.comment-body{
    box-sizing: border-box;
    padding: 10px 30px;
    flex-grow: 1;
}
.comment-footer{
    height: 60px;
    background-color: #f7f9fa;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    a{
        text-decoration: none;
        color: #333;
        font-size: 18px;
        font-weight: 500;
    }
}

.pagination{
    max-width: 1200px;
    height: 60px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}
.p-button{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.active{
    border-radius: 50%;
    border: 2px solid green;
}