.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    list-style: none;
    padding: 0;    
}

.menu a{
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2;
    font-size: 40px;
    color: darkorange;
}