nav{
    position: fixed;
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1.5;
        color: orangered;
    }
}

table{
    table-layout: auto;
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}
th{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
}
td{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
caption{
    font-size: 35px;
    font-weight: 700;
    margin: 20px;
}

.weather-wrapper{
    width: 75%;
    height: 700px;
    margin: 50px auto 0;
    background-image: url(/image/weather_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}
.weather-block{
    width: 40%;
    min-width: 400px;
    height: 90%;
    margin: 0 auto;
    background-color: rgba($color: #fff, $alpha: 0.8);
    font-size: 20px;
    padding: 0 50px;
    box-sizing: border-box;
}
.title-city{
    font-size: 40px;
    line-height: 1.5;
    margin: 0 auto;
    width: fit-content;
}
.title-date{
    font-size: 25px;
    line-height: 1.5;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.title-date:first-child{
    margin-top: 30px;
}
.wind, .day-temp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    .icon{
        width: 50px;
        height: 50px;
        background-color: rgba($color: #fff, $alpha: 0.5);
        border-radius: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
span{
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.sunrise, .sunset{
    display: inline;
    margin: 20px;
}
.other{
    text-align: center;
}