.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
}
.menu{
    list-style: none;
}
.menu a{
    text-decoration: none;
}

/* DIV margin & Phone check */
.div_with_margin{
    width: 500px;
    height: 200px;
    margin: 150px;
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}
.phone_btn{
    margin-left: 20px;
}
.green{
    background-color: lightgreen;
}
.divError{
    background-color: red;
    font-size: 20px;
    width: 100%;
}

/* Timer */
.black {
    background: black;
}

.silver {
    background: rgba(88, 88, 88, .5);
}

.red {
    background: rgba(231, 40, 40, 0.5);
}

.green {
    background: rgba(39, 211, 76, 0.5);
}

.container-stopwatch {

    width: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
}

.stopwatch-display {
    background: rgba(33, 145, 18, 0.5);
    padding: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
}

.stopwatch-display span {
    font-size: 2rem;
}

.stopwatch-control button {
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
    border: none;
    cursor: pointer;
}

.stopwatch-control button:nth-child(2) {
    margin: 0 .5rem;
}

/* Slider */
.slider_img{
    width: 800px;
    height: 600px;
    overflow: hidden;
}
.slider_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider button{
    height: 50px;
    width: 200px;
    margin: 20px calc(50% - 100px);
    cursor: pointer;
    font-size: 1rem;
}