/* Main page - menu */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.menu{
    list-style: none;
    font-size: 30px;
}
.menu a{
    text-decoration: none;
}

/* Create - Delete paragraph */
.wrapper{
    width: 50%;
    margin: 0 auto;
}
.created_P{
    cursor: pointer;
    border: 1px solid lightblue;
}
.create_button{
    width: 50%;
    height: 50px;
    margin: 0 25%;
    text-transform: uppercase;
    font-size: 20px;
    color: green;
    cursor: pointer;
}

/* Textarea */
textarea{
    resize: none;
}
.text_send_btn{
    display: block;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.text_div{
    margin: 20px 0;
    font-size: 20px;
    color: rgb(5, 170, 170);
}

/* Change div bg-color */
.bg_color_change{
    width: 200px;
    height: 75px;
    background-color: chartreuse;
    margin: 10px 0;
}

/* DOM */
.checked{
    background-color: lightgreen;
}

/* Slider */
.slider{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.image{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.change_slide{
    margin: 30px auto;
    width: 250px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Change Input */
.form_container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    margin: 10px 20px;
}
input[type = button]{
    box-sizing: border-box;
    padding: 10px 30px;
}

/* Round DIVs */
.balls{
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.ball{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}