@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

html{
    --Karla:'Karla', sans-serif;
    --black: black;
}

body * { 
    box-sizing: border-box;
    background-color: white;
}

header, footer{
    font-family: var(--Karla);
}

header{
    box-shadow:  -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header{
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

body, .header ul{
    margin: 0;
    padding: 0 ;
}
a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--black);
}

ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.banner{
    padding: 16px;
}

.search input{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 500px;
    padding: 1rem;
    padding-left: 3rem;
    background-image: url("../img/icon.svg");
    background-repeat: no-repeat;
    background-position: 16px center;
}

.cards{
    display: flex;
    gap: 1rem;
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    min-height: 120px;
    border-radius: 4px;
    background-color: #FAFAFA;
    text-transform: capitalize;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.card img{
    width: 100%;
}

.box-modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.459);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-body{
    display: flex;
    background-color: #161515;
    height: 100%;
}

.box-modal.active{
    display: flex;
}

.modal{
    width: 850px;
    height: 400px;
    overflow: auto;
    border-radius: 10px;
    position: relative;
    padding: 1rem;
    word-break: break-all;
    background-color: #161515;
}
#modal-closed{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: transform .15s linear ;
    z-index: 2;
    background-color: #ffffff00;
}
#modal-closed:hover{
    transform: scale(1.2);
}

.np{
    box-sizing: border-box;
    padding: 8px 25px;
    border-radius: 10px;
    background-color: #0df805;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.info{
    background-color: #161515;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info div{
    background-color: #ffffff00;
    color: white;
    font-size: 18px;
}
.info-title{
    background-color: #161515;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.avatar{
    text-align: center;
}
.location, .origin, select, option{
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    background-color: #16151581;
    color: white;
}
.created{
    text-transform: capitalize;
}
.location-info, .episode-info{
    align-items: center;
    width: 100%;
}
.location-info h3, 
.episode-info h3{
    background-color: #ffffff00;
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}

h2{
    display: block;
    width: fit-content;
    margin: 50px auto;
    font-size: 40px;
    font-weight: 700;
}

.detail-info{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 600px){
    .container{
        width: 100%;
    }
}