body{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    font-size: 40px;
    color: darkorange;
    margin-top: 100px;
}
.wrapper{
    padding: 0 30%;
    text-align: left;
}
h2{
    font-size: 35px;
    color: green;
}
p{
    font-size: 25px;
}
p::first-line{
    font-weight: 900;
}

/* ------------------------ */

header{
    width: 800px;
    height: 200px;
    box-sizing: border-box;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}
main{
    width: 800px;
    height: 400px;
    box-sizing: border-box;
    border: 2px solid orange;
    margin: 0 auto;
    display: flex;
    font-size: 20px;
    font-weight: 700;
}
nav{
    width: 100px;
    box-sizing: border-box;
    border: 2px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav span{
    transform: rotate(-90deg);
    white-space: nowrap;
}
section{
    width: 700px;
    box-sizing: border-box;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 800px;
    height: 200px;
    box-sizing: border-box;
    border: 2px solid green;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}